body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  background-image: linear-gradient(blue, purple);
}

h1 {
  font-weight: lighter;
  font-size: 40px;
  letter-spacing: 2px;
  margin-bottom: 0px;
}

.inputSection {
  margin:50px 0px 80px 0px;
  width: 400px;
}

.inputs {
  width: inherit;
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 10px;
}

.addOption {
  margin-top: 10px;
  background-color: red;
  background-image: linear-gradient(blue, purple);  border-radius: 12px;
  color: white;
  padding: 10px;
}

.img {
  margin-top: 20px;
}
